@import url(https://ui-phoenix.netlify.app/main.css);
:root {
  --color-white: #ffffff;
  --color-text: #0c5460;
}
body {
  color: var(--color-text);
  min-height: 100vh;
}
/* LOGIN PAGE  */
.login-page {
  display: grid;
  /* grid-template-rows: 6rem calc(100vh - 6rem); */
  grid-template-rows: minmax(10%, max-content) 96vh;
  max-height: 100vh;
}

/* HEADER  */
.login-btn {
  background-color: var(--primary);
}
/* MAIN  */
main {
  display: grid;
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
}
/* FORM OF MAIN */

/* login form  */
.log-in-form {
  width: 30vw;
  max-height: 50rem;
  background-color: var(--color-white);
}

/* sign-up form  */
.sign-up-form {
  margin-top: 6rem;
}
/* login form labels  */
.login-label {
  width: 100%;
}
/* input  */
.input-simple:valid {
  background-color: unset;
}
.input-simple:focus {
  color: var(--color-text);
}
/* input checkbox  */
.input-checkbox {
  height: 2rem;
  width: 2rem;
}
.input-checkbox:checked {
  background-color: var(--secondary);
}

/* forget password reset link  */
.forget-pass {
  color: var(--secondary);
}
/* log-in-button  */
.log-in-btn {
  width: calc(100% + 2rem);
  margin-left: 2rem;
}
.log-in-btn:hover {
  opacity: 80%;
}

/* create account button  */

.create-new-acc {
  border: none;
  background-color: var(--color-white);
  color: var(--color-text);
}
