.card-badge {
    /* position  */
    left: auto;
    top: 1rem;
    right: 1rem;
    /* box model  */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--light-color);
  }
  .card-badge i {
    font-size: 2em;
    color: white;
  }
  .heart-badge-active i {
    font-size: 2em;
    color: red;
  }